@media (min-width: 3839px){
	.have_to_try span.try_it{
		font-size:90pt;
	}
	.have_to_try span.new_bright_emotions {
		font-size: 54pt;
		margin-top: 20px;
		line-height: 100px;
	}
	input.order_sigway{
		font-size:36pt;
		padding-bottom:15px;
	}
	.head_bottom span{
		font-size:36pt;
	}

	.off_road_edition span{
		font-size:50px;
	}
	.just_cool span{
		font-size:140pt;
	}
	input.order{
		font-size: 50px;
		padding-bottom: 10px;
	}
	.star_life span{
		font-size: 200px;
	}
	.star_life span.Looking_cautiously{
		font-size: 40px;
	}
	.comment1 .com_text h3, .comment2 .com_text h3{
		font-size:50px;
	}
	.comment1 .com_text span, .comment2 .com_text span{
		font-size: 40px;
		line-height:50px;
	}
	.item h2{
		font-size:120px;
	}
	.item .weight, .item .dimensions{
		font-size:35px;
	}
	.item .text{
			font-size:35px;
	}

	.item .total{
		font-size:50px;
	}
	.item .total img{
		height:50px;
	}
	.item .equipment span{
		font-size:35px;
	}
	.item .count span{
		font-size:45px;
	}
	.item input{
		font-size:45px;
		line-height:49px;
	}
	.otzyvy{
		font-size:125px;
	}
	.percents span.sto{
		font-size:150px;
	}
	.percents span.positive{
	    font-size: 90px;
	}
	.rev h2{
		font-size:60px;
		line-height:100px;
	}
	.rev_text{
		font-size:40px;
	}
	.loc_date{
		font-size:30px
	}
	.say_t span{
		font-size:60px;
	}
	.ninth h1{
		font-size:150px;
	}
	.step h2{
		font-size:80px;
	}
	.step p{
		font-size:40px;
	}
	.tenth h1{
		font-size:120px;
	}
	.tenth h2{
		font-size:60px;
	}
	.cm_name input, .cm_number input{
		font-size:50px;
		padding-left:65px;
	}
	.tenth h3{
		font-size:50px;
	}
	.send_number{
		font-size:50px;
	}
	.ten_min{
		font-size:35px;
	}
	.eleventh h1{
		font-size:100px;
	}
	.add_i p{
		font-size:40px;
	}
	.eleventh input{
		font-size:50px;
	}
	.head_name{
		width: 40px;
		left: 42.2%;
		top: 41.9%;
	}
	.phone{
		width: 40px;
		left: 42.2%;
		top: 48.5%;
	}
	footer p{
		font-size:50px;
	}
}
@media (min-width: 2559px) and (max-width:3839px){

	.have_to_try span.try_it{

		font-size:65pt;

	}

	.have_to_try span.new_bright_emotions {

		font-size: 40pt;

		margin-top: 20px;

		line-height: 80px;

	}

	input.order_sigway{

		font-size:24pt;

		padding-bottom:10px;

	}

	.head_bottom span{

		font-size:24pt;

	}

	.off_road_edition span{

		font-size:34px;

	}

	.just_cool span{

		font-size:95pt;

	}

	input.order{

		font-size: 33px;

		padding-bottom: 10px;

	}

	.star_life span{

		font-size: 130px;

	}

	.star_life span.Looking_cautiously{

		font-size: 28px;

	}

	.comment1 .com_text h3, .comment2 .com_text h3{

		font-size:33px;

	}

	.comment1 .com_text span, .comment2 .com_text span{

		font-size: 29px;

		line-height:33px;

	}

	.item h2{

		font-size:80px;

	}

	.item .weight, .item .dimensions{

		font-size:24px;

	}

	.item .text{

			font-size:24px;

	}

	.item .total{

		font-size:33px;

	}

	.item .total img{

		height:33px;

	}

	.item .equipment span{

		font-size:24px;

	}

	.item .count span{

		font-size:30px;

	}

	.item input{

		font-size:30px;

		line-height:49px;

	}

	.otzyvy{

		font-size:80px;

	}

	.percents span.sto{

		font-size:100px;

	}

	.percents span.positive{

	    font-size: 60px;

	}

	.rev h2{

		font-size:40px;

		line-height:67px;

	}

	.rev_text{

		font-size:26px;

	}

	.loc_date{

		font-size:20px

	}

	.say_t span{

		font-size:40px;

	}

	.ninth h1{

		font-size:100px;

	}

	.step h2{

		font-size:53px;

	}

	.step p{

		font-size:26px;

	}

	.tenth h1{

		font-size:80px;

	}

	.tenth h2{

		font-size:20px;

	}

	.cm_name input, .cm_number input{

		font-size:33px;

		padding-left:65px;

	}

	.cm_text{

		font-size:33px;

	}

	.tenth h3{

		font-size:33px;

	}

	.send_number{

		font-size:33px;

	}

	.ten_min{

		font-size:24px;

	}

	.eleventh h1{

		font-size:67px;

	}

	.add_i p{

		font-size:26px;

	}

	.eleventh input{

		font-size:33px;

	}

	.head_name{

		width: 26px;

		left: 42.2%;

		top: 41.9%;

	}

	.phone{

		width: 26px;

		left: 42.2%;

		top: 48.5%;

	}

	footer p{

		font-size:33px;

	}

}
/*@media (min-width: 1679px) and (max-width:1919px){

	.have_to_try span.try_it{

		font-size:40pt;

	}

	.have_to_try span.new_bright_emotions {

		font-size: 24pt;

		margin-top: 16px;

		line-height: 48px;

	}

	input.order_sigway{

		font-size:14.5pt;

		padding-bottom:6px;

	}

	.head_bottom span{

		font-size:16pt;

	}

	.off_road_edition span{

		font-size:20px;

	}

	.just_cool span{

		font-size:58pt;

	}

	input.order{

		font-size: 18px;

		padding-bottom: 6px;

	}

	.star_life span{

		font-size: 73px;

	}

	.star_life span.Looking_cautiously{

		font-size: 16px;

	}

	.comment1 .com_text h3, .comment2 .com_text h3{

		font-size:20px;

	}

	.comment1 .com_text span, .comment2 .com_text span{

		font-size: 16px;

		line-height:20px;

	}

	.item h2{

		font-size:48px;

	}

	.item .weight, .item .dimensions{

		font-size:15px;

	}

	.item .text{

			font-size:15px;

	}

	.item .total{

		font-size:20px;

	}

	.item .total img{

		height:24px;

	}

	.item .equipment span{

		font-size:15px;

	}

	.item .count span{

		font-size:18px;

	}

	.item input{

		font-size:18px;

		line-height:28px;

	}

	.otzyvy{

		font-size:48px;

	}

	.percents span.sto{

		font-size:60px;

	}

	.percents span.positive{

	    font-size: 36px;

	}

	.rev h2{

		font-size:24px;

		line-height:40px;

	}

	.rev_text{

		font-size:16px;

	}

	.loc_date{

		font-size:12px

	}

	.say_t span{

		font-size:24px;

	}

	.ninth h1{

		font-size:48px;

	}

	.step h2{

		font-size:25px;

	}

	.step p{

		font-size:12px;

	}

	.tenth h1{

		font-size:39px;

	}

	.tenth h2{

		font-size:12px;

	}

	.cm_name input, .cm_number input{

		font-size:20px;

		padding-left:39px;

	}

	.cm_text{

		font-size:20px;

	}

	.tenth h3{

		font-size:20px;

	}

	.send_number{

		font-size:20px;

	}

	.ten_min{

		font-size:14,5px;

	}

	.eleventh h1{

		font-size:40px;

	}

	.add_i p{

		font-size:16px;

	}

	.eleventh input{

		font-size:20px;

	}

	.head_name{

		width: 16px;

		left: 42.2%;

		top: 41.9%;

	}

	.phone{

		width: 16px;

		left: 42.2%;

		top: 48.5%;

	}

	footer p{

		font-size:20px;

	}

}
*/
@media (min-width: 1919px) and (max-width:2559px){

	input.order_sigway {
		left: calc(50% - 137px);
		left: -webkit-calc(50% - 137px);
	}
	.have_to_try span.try_it{

		font-size:50pt;

	}

	.have_to_try span.new_bright_emotions {

		font-size: 30pt;

		margin-top: 20px;

		line-height: 60px;

	}

	input.order_sigway{

		font-size:18pt;

		padding-bottom:7.5px;
		
	    padding: 15px 20px;

	}
	
	input.order_sigway:active{
		padding:16px 20px 6.5px 20px;
	}

	.head_bottom span{

		font-size:15pt;
		padding:10px 20px;

	}

	.off_road_edition span{

		font-size:26px;

	}

	.just_cool span{

		font-size:73pt;

	}

	input.order{

		font-size: 32px;

		padding-bottom: 7.5px;

	}

	.star_life span{

		font-size: 92px;

	}

	.star_life span.Looking_cautiously{

		font-size: 21px;

	}

	.comment1 .com_text h3, .comment2 .com_text h3{

		font-size:24px;

	}

	.comment1 .com_text span, .comment2 .com_text span{

		font-size: 21px;

		line-height:24px;

	}

	.item h2{

		font-size:60px;

	}

	.item .weight, .item .dimensions{

		font-size:18px;

	}

	.item .text{

			font-size:18px;

	}

	.item .total{

		font-size:24px;

	}

	.item .total img{

		height:24px;

	}

	.item .equipment span{

		font-size:18px;

	}

	.item .count span{

		font-size:23px;

	}

	.item input{

		font-size:23px;

		line-height:36px;

	}

	.otzyvy{

		font-size:60px;

	}

	.percents span.sto{

		font-size:75px;

	}

	.percents span.positive{

	    font-size: 45px;

	}

	.rev h2{

		font-size:30px;

		line-height:50px;

	}

	.rev_text{

		font-size:19.5px;

	}

	.loc_date{

		font-size:15px

	}

	.say_t span{

		font-size:30px;

	}

	.ninth h1{

		font-size:75px;

	}

	.step h2{

		font-size:40px;

	}

	.step p{

		font-size:19.5px;

	}

	.tenth h1{

		font-size:60px;

	}

	/*.tenth h2{

		font-size:15px;

	}*/

	.cm_name input, .cm_number input{

		font-size:24px;
		line-height: 24px;
		padding-left:48px;

	}

	.cm_text{

		font-size:24px;

	}

	.tenth h3{

		font-size:24px;

	}

	.send_number{

		font-size:24px;

	}

	.ten_min{

		font-size:32px;

	}

	.eleventh h1{

		font-size:51px;

	}

	.add_i p{

		font-size:19.5px;

	}

	.eleventh input{

		font-size:24px;

	}

	.head_name{

		width: 20px;

		left: 42.9%;

		top: 41.9%;

	}

	.phone{

		width: 20px;

		left: 42.9%;

		top: 48.5%;

	}

	footer p{

		font-size:24px;

	}
	.send_number{
		left:41.9%;
	}
	.bt_title{
		font-size: 17pt;
	}
}
@media (min-width:1550px) {
	.minus {
		left: 1.2%;
		top: 21%;
		font-size: 24px;
	}
	.plus {
		left: 9.6%;
		top: 21%;
		font-size: 24px;
	}
}
@media (max-width:1550px) {
	.tenth h1{
		font-size: 45px;
	}
}
@media (min-width:1450px){
	.hb_wheel4 {
		margin-left: 3vw;
	}
}
@media (max-width:1441px){/*1280*/
	input.order{
		top:64%;
	}
	.general_phone_video{
		font-size:40px;
	}
	.drawer-menu-item{
		font-size:20px;
	}
	.item .count_input input[type=phone]{
		width:300px;
	}
	.comment2 .com_text span{
		line-height:18px;
		letter-spacing:2px;
		font-size:14px;
	}
	.comment1 .com_text span{
		line-height:18px;
		letter-spacing:2px;
		font-size:14px;
	}
	.comment2 .com_text h3{
		line-height:16px;
		font-size:11px;
	}
	.comment1 .com_text h3{
		line-height:16px;
		font-size:11px;
	}
	.cm_text{
		font-size:17px;
		letter-spacing:5px;
	}
	.time_left{
		top:54.5%;
	}
	.eleventh h1{
		font-size:43px;
	}
	.send_number{
		font-size:20px;
		padding: 12px 15px;
	}
	.send_number:active{
		font-size:20px;
		padding: 13px 15px 11px 15px;
	}
	.bt_title{
		right:0;
	}
	.send_number_cm{
		top:83.2%;
		left: 55%;
	}
	.plus {
		left: 5.1vw;
		top: 0.7vw;
	}
	.minus {
		left: 0.7vw;
		top: 0.7vw;
	}
	.head_bottom span{
		font-size:13px;
		padding:10px 12px;
	}
	.ten_min{
		font-size:13pt;
	}
	.rev h2{
		line-height:20px;
		width:100%;
	}
}
@media (max-width:1340px) {
	.tenth h1{
		font-size: 40px;
	}
}
@media (max-width:1281px){
	.minus{
		left: 0.6vw;
		top: 0.7vw;
	}
	.plus{
		left: 6vw;
		top: 0.7vw;
	}
}
@media (max-width:1279px){/*1024*/
	.drawer-menu-item{
		font-size:16px;
		line-height:36px;
	}
	.item .equipment{
		top:64.5%;
	}
	.item{
		height:70vw;
	}
	.step h2{
		font-size:24px;
	}
	.have_to_try span.try_it{
		font-size:45px;
	}
	.have_to_try span.new_bright_emotions{
		font-size:25px;
	}
	.head_bottom span{
		font-size:13px;
		padding:10px 9px;
	}
	.off_road_edition span{
		font-size:14px;
	}
	.just_cool span{
		font-size:65px;
	}
	.comment2 .com_text span{
		line-height: 15px;
		letter-spacing: 1px;
		font-size:14px;
	}
	.comment1 .com_text span{
		line-height: 15px;
		letter-spacing: 1px;
		font-size:14px;
	}
	.item .count_input input{
		margin:0 10px 0 0;
	}
	.item .total{
		top:11%;
		font-size: 18px;
		left:63.9%;
	}
	.item h2{
		font-size:38px;
	}
	.item .text{
		line-height:22px;
	}
	.rev_text{
		padding-top:5px;
		font-size: 14px;
		line-height: 15px;
	}
	.rev h2{
		font-size:23px;
	}
	.loc_date{
		padding-bottom:0;
		line-height:14px;
	}
	.tenth h1{
		font-size:25px;
	}
	.tenth h2{
		font-size:18px;
		top:30.7%;
	}
	.tenth h3{
		font-size: 14px;
		line-height: 16px;
	}
	.bt_title{
		font-size:12pt;
		line-height:12pt;
	}
	.send_number{
		font-size: 16px;
		padding: 5px 10px;
		left: 40.5%;
		top:63.9%;
	}
	.send_number:active{
		font-size: 16px;
		padding: 6px 10px 4px 10px;
		top:63.9%;
	}
	.time_left{
		top:53.8%;
		left: 36.2%;
	}
	.ten_min{
		font-size: 13px;
		line-height: 13px;
		top: 70.9%;
	}
	.position{
		width:20px!important;
	}
	.countdownHolder{
		font: 28px/40px Arial ,sans-serif!important;
	}
	.countDays, .countHours, .countMinutes, .countSeconds{
		height: 40px!important;
	}
	.timer-desc{
		left:2px;
		top:-4px;
	}
	.timer-desc li{
		padding-right:4px;
	}
	.eleventh h1{
		font-size:33px;
	}
	.add_i p{
		font-size:15px;
	}
	.send_number_cm{
		font-size: 15px;
		padding: 6px;
	}
	.send_number_cm:active{
		font-size: 15px;
		padding: 5px 6px 4px 6px;
	}
	input.order_sigway {
		left: calc(50% - 116.5px);
		left: -webkit-calc(50% - 116.5px);
	}
	.cm_text{
		font-size:12px;
	}
	.plus {
		left: 16.5%;
	}
	.head_bottom{
		padding:15px 5%;
	}
	.hb_wheel2{
		margin-left:2vw;
	}
	.hb_wheel3{
		margin-left:2.2vw;
	}
	.hb_wheel4{
		margin-left:2.5vw;
	}
	.com_text{
		margin:5% 7%;
	}
	.comment2 .com_text h3{
		bottom:10px;
	}
	.comment1 .com_text h3{
		bottom:10px;
	}
	.cm_number input, .cm_name input{
		padding-left:30px;
		width:calc(50% - 24px);
		width:-webkit-calc(50% - 24px);
	}
	.item .count_input input[type="phone"]{
		letter-spacing:0;
	}.drawer-nav-ul{
	top:20%;
}
}
@media (max-width:1100px){
	.head_bottom img{
		width:40px;
	}
	.video_name{
		line-height: 14px;
	}
}
@media (max-width:1023px){/*800*/
	.drawer-menu-item{
		line-height:16px;
		padding:25px 10px;
		font-size:12px;
	}
	input.order_sigway{
	   left: calc(50% - 87px);
	   left: -webkit-calc(50% - 87px);
	}
	.head_bottom span{
		padding: 15px 5px;
		font-size:10px
	}
	.general_phone_video{
		font-size:30px;
	}
	.have_to_try span.try_it{
		font-size:35px;
	}
	.have_to_try span.new_bright_emotions{
		font-size:20px;
		line-height:20px;
	}
	input.order_sigway{
		font-size:14px;
	}
	.head_bottom div img{
		width:30px;
		margin-top:10px;
	}
	.head_bottom{
		padding:10px 5%;
	}
	.off_road_edition span{
		font-size:12px;
		line-height:100%;
	}
	.just_cool span{
		font-size:50px;
		line-height: unset;
	}
	.video_name{
		font-size:12px;
	}
	input.order{
		font-size:15px;
		letter-spacing:1px;
	}
	.star_life span.Looking_cautiously{
		font-size:12px;
	}
	.com_text{
		margin:4%;
	}
	.comment1 .com_text h3{
		bottom:7px;
	}
	.comment2 .com_text h3{
		bottom:7px;
	}
	.comment2 .com_text h3{
		line-height:14px;
	}
	.comment1 .com_text h3{
		line-height:14px;
	}
	.com_text{
		width:42%;	
	}
	.comment2 .com_text span{
		letter-spacing: 0.5px;
		font-size: 12px;
	}
	.comment1 .com_text span{
		letter-spacing: 0.5px;
		font-size: 12px;
	}
	.item h2{
		font-size:32px;
	}
	.item .share{
		font-size: 12px;
		padding: 10px 5px;
		width: 140px;
	}
	.item .photos_videos .i_video img{
		width:30px;
		padding:5px;
	}
	.item .photos_videos img{
		width:40px;
	}
	.item .weight, .item  .dimensions{
		top:24%;
	}
	.item .text{
		font-size:13px;
		line-height:14px;
	}
	.item .total{
		left:63.9%;
		top: 11%;
		font-size: 15px;
		text-align: left;
	}
	.item .count_input input[type="phone"]{
		width: 125px;
		height: 30px;
	}
	.item .order_item{
		padding: 3px 6px;
		font-size:12px;
	}
	.item .order_item:active{
		padding: 4px 6px 2px 6px;
		font-size:12px;
	}
	.item .share{
		padding: 3px 0px;
	}
	.otzyvy{
		font-size:30px;
	}
	.percents span.sto{
		font-size:46px;
	}
	.percents span.positive{
		font-size:25px;
	}
	.rev h2{
		font-size:14px;
		line-height:14px;
	}
	.rev_text{
		font-size:11px;
	    line-height: 12px;
		padding-top: 2px;
	}
	.loc_date{
		font-size:10px;
		line-height: 12px;
	}
	.revs{
		top:22%;
	}
	.stars5 {
		width: 1.0vw;
		position: relative;
		top: -5px;
	}
	.ninth h1{
		font-size:30px;
	}
	.step h2{
		font-size:18px;
		padding-bottom:4px;
	}
	.step p {
		font-size: 12px;
		line-height: 14px;
	}
	.tenth h1{
		font-size:18px;
	}
	.tenth h2{
		font-size:13px;
		top: 30%;
	}
	.tenth h3{
		font-size: 12px;
		line-height: 12px;
		top: 34%;
	}
	.cm_name{
		top: 39%;
	}
	.cm_number{
		top: 45%;
	}
	.cm_name input{
		font-size:11px;
		padding-left: 24px;
	}
	.cm_number input{
		font-size:11px;
		padding-left: 24px;
	}
	.head_name{
		left: 42%;
		top: 40%;
	}
	.phone{
		left: 42%;
		top: 46.3%;
	}
	.bt_title br{
		display:none;
	}
	.bt_t{
		position: relative;
		top: -13px;
		left: 10px;
	}
	.send_number{
		font-size:14px;
		padding:0 4px;
		line-height: 20.2pt;
		top: 65%;
		left: 39.4%;
	}
	.send_number:active{
		font-size:14px;
		padding:0 4px;
		line-height: 20.2pt;
		top: 65%;
	}
	.timer-desc{
		top:-7px;
		left:5px;
	}
	.timer-desc li{
		font-size:12px;
		padding-right:13px;
	}
	.ten_min{
		width:19.5%;
		left: 40.5%;
		top:70.7%;
	}
	.eleventh h1{
		font-size:25px;
	}
	.add_i p{
		font-size: 13px;
		line-height:13px;
	}
	.send_number_cm {
		font-size: 12px;
		padding: 3px;
		left:55.8%;
	}
	.send_number_cm:active {
		font-size: 12px;
		padding: 4px 3px 2px 3px;
		left:55.8%;
	}
	footer p{
		font-size:12px;
	}
	footer br{
		line-height:0;
	}
	.cm_text{
		left:27.1%;
		letter-spacing:2px;
	}
	.plus {
		left: 14%;
		left: -moz-calc(14% - 1%);
		font-size:20px;
	}
	.minus{
		font-size:20px;
	}
	.cm_number input, .cm_name input{
	    width: calc(50% - 4px);
		width: -webkit-calc(50% - 4px);
	}
}
@media (max-width:799px){/*768*/
	.drawer-menu-item{
		font-size:11px;
	}
	.head_bottom span{
		padding:15px 4px;
	}
	.com_text{
		width: 43%;
	}
	.item .order_item:active{
		padding:4px 5px 2px 5px;
	}
	.item .order_item{
		padding:3px 5px;
	}
	.owl-buttons{
		bottom:55%;
	}
	.item .share{
		width:130px;
	}
	.item .weight, .item .dimensions{
		top:24.5%;
	}
	.revs .rev{
		width: calc(33.3% - 10px);
		width: -moz-calc(33.3% - 10px);
		width: -webkit-calc(33.3% - 10px);
		height: calc(33.3% - 10px);
		height: -moz-calc(33% - 10px);
		height: -webkit-calc(33.3% - 10px);
	}
	.otzyvy{
		top:4.3%;
	}
	.percents{
		top:2.2%;
	}
	.percents span.sto{
		font-size:26px;
	}
	.percents span.positive{
		font-size:16px;
	}
	.revs{
		top:13.5%;
		height:75%;
	}
	.comment2 .com_text span{
		line-height:12px;
	}
	.comment1 .com_text span{
		line-height:12px;
	}
	.item .equipment span, .item .count span{
		font-size:10px;
	}
	.plus{
		left:15%;
		left:-moz-calc(15% - 1%);
	}
	.say_t{
		bottom:3.1%;
	}
	.say_p{
		bottom:1.9%;
	}
	.cm_text{
		letter-spacing:1px;
	}
	.item{
		height:60vw;
	}
	.window {
		height: 35%;
	}
	.video_name{
		top: 45%;
	}
	footer{
		height:25.8vw;
	}
	.ten_min{    
		left: 35.1%;
		width: 30.5%;
	}
}
@media (max-width:767px){ /*750*/
	.plus {
		left: 15.5%;
		left: -moz-calc(15.5% - 1%);
		top:0.9vw;
	}
	.minus{
		top:0.9vw;
	}
	.comment2 .com_text span{
		letter-spacing:0px;
	}
	.comment1 .com_text span{
		letter-spacing:0px;
	}
}
@media (max-width:749px){ /*720*/
	.drawer-hamburger{
		left:8.25%!important;
	}
	.item{
		height:70vw;
	}
	.have_to_try span.try_it{
		font-size:30px;
	}
	.have_to_try span.new_bright_emotions{
		font-size:15px;
	}
	.head_bottom{
		padding:10px 7%;
	}
	.off_road_edition span{
		font-size:11px;
	}
	.just_cool span{
		font-size:44px;
	}
	.item .order_item{
		font-size:10px;
		padding:3px;
	}
	.item .order_item:active{
		font-size:10px;
		padding:4px 3px 2px 3px;
	}
	.item .share{
		font-size:10px;
		width:110px
	}
	.item .dimensions{
		left:18.7%;
	}
	.item .weight, .item .dimensions{
		font-size:10px;
		top:25.6%;	
	}
	.say_p img{
		height:30px;
	}
	.say_p{
		bottom:-1%;
	}
	.say_t{
		bottom:-0.2%;
	}
	.say_t span{
		font-size:13px;
	}
	.revs {
		top: 12.5%;
		height: 80%;
	}
	.revs .rev{
		padding:2px;
		height: calc(36.3% - 10px);
		height: -moz-calc(36.3% - 10px);
		height: -webkit-calc(36.3% - 10px);
	}
	.stars5{
		top:-8px;
	}
	.rev h2{
		line-height:12px;
	}
	.send_number_cm{
		padding:1px;
	}
	.additions .add_i{
		height:22vw;
	}
	.tenth h1{
		top:24.1%;
	}
	.tenth h2{
		top:27%;
	}
	.tenth h3{
		top:31.5%;
	}
	.cm_name{
		top:37%;
	}
	.cm_number {
		top: 43%;
	}
	.head_name{
		top:38.4%;
		width:11px;
	}
	.phone{
		top:44.7%;
		width:11px;
	}
	.time_left{
		top:52%;	
	}
	.send_number{
		font-size:11px;
		left:41.4%;
		top:64%;
	}
	.ten_min{
		top:70%;
	}
	.plus{
		left:15.5%;
		left:-moz-calc(15.5% - 1%);
	}
	.head_bottom div img{
		margin-left:1px;
	}
}
@media (max-width:719px){ /*640*/
	.drawer-hamburger{
		left:8.1%!important;
	}
	.general_phone_video{
		font-size:20px;
		top:30px;
	}
	.have_to_try span.new_bright_emotions{
		line-height:30px;
	}
	.head_bottom{
		padding:10px 2%;
	}
	.head_bottom span{
		padding:15px 3px;
	}
	.video_name{
		line-height:12px;
	}
	.off_road_edition span{
		top:23.1%;
	}
	.off_road_edition{
		height: 16.4%;
		background-size: 100% 100%;
	}
	.just_cool span{
		font-size: 40px;
		line-height: 30px;
	}
	.just_cool{
		top:45.6%;
	}
	.sl_span{
		font-size:30pt;
		top: 13.4%;
	}
	.star_life span.Looking_cautiously {
		top: 25.6%;
	}
	.com_pic{
		height: 66.7%;
		width: 100%;
		bottom: 0;
		left: 0;
	}
	.comments .comment1{
		height:300%;
	}
	.comments .comment2{
		height:300%;
	}
	.section.fourth{
		height:95vw;
	}
	.owl-carousel .owl-wrapper-outer{
		height:95vw;
	}
	.owl-pagination{
		bottom:70%;
	}
	.com_text{
		width:92%;
	}
	.owl-buttons{
		bottom:70%;
	}
	.item .text{
		font-size:12px;
		line-height:12px;
	}
	.item .count_input input[type="phone"]{
		width:100px;
	}
	.item .total{
		top:11%;
		font-size:12px;
	}
	.cm_text{
		letter-spacing:0;
	}
	.item h2{
		top:11.9%;
	}
	.revs .rev{
		height: calc(26% - 10px);
		height: -moz-calc(26% - 10px);
		height: -webkit-calc(26% - 10px);
		width: calc(50% - 10px);
		width: -moz-calc(50% - 10px);
		width: -webkit-calc(50% - 10px);
		padding:5px;
	}
	.section.sixth main img.reviews_bg{
		height:250px;
	}
	.loc_date{
		display:inline-block;
		position:relative;
		top:-5px;
	}
	.stars5{
		top:-5px;
	}
	.say_p{
		top:5%;
		left:32%;
	}
	.say_t{
		top: 6%;
		left: 37%;
	}
	.step div{
		height:12vw;
	}
	.step h2 {
		font-size: 14px;
		padding-bottom: 0px;
	}
	.eleventh h1{
		font-size:20px;
	}
	.cm_number input, .cm_name input{
		width:120px;
		width:-moz-calc(120px + 5px);
		padding-left: 18px;
	}
	.head_name{
		left:40.2%;
		top: 38.3%;
	}
	.phone{
		left:40.2%;
		top: 44.5%;
	}
	.plus {
		left: 15%;
		left: -moz-calc(15% - 1%);
	}
	.digit.static{
		width:15px;
	}
	.position{
		width:15px!important;
	}
	.countDays, .countHours, .countMinutes, .countSeconds{
		height:35px!important;
	}
	.position{
		height:35px!imortant;
	}
	.countdownHolder {
		font: 24px/35px Arial ,sans-serif !important;
	}
	.timer-desc{
		top:-13px;
		left:0;
	}
	.bt_title{
		top:-18px;
	}
	.timer-desc li{
		padding-right:2px;
	}
	.send_number{
		left:40%;
	}
	.ten_min {
		width: 25.5%;
		left: 37.1%;
	}
	.additions{
		width: 93.3%;
		left: 3.15%;
	}
	.add_i p {
		font-size: 12px;
		line-height: 12px;
	}
	.send_number_cm{
		font-size:11px;
		padding:1px;
	}	
	.send_number_cm:active{
		font-size:11px;
		padding:2px 1px 0 1px;
	}	
	footer br{
		display:none;
	}
}
@media (min-width:641px) and (max-width:719px){
	.head_bottom span {
		font-size: 8px;
	}
	.item{
		height:65vw;
	}
	.section.fifth{
		margin-top:-9.5vw;
	}
	.reviews .hidden{
		display:block;
	}
	.section.sixth{
		height:90vw;
	}
}
@media (max-width:639px){ /*600*/
	.drawer-hamburger {
		left: 7.915%!important;
	}
	.section.sixth main img.reviews_bg{
		height:100%;
	}
	.section.fourth{
		height:100vw;
	}
	.owl-carousel .owl-wrapper-outer{
		height:100vw;
	}
	.owl-pagination{
		bottom:70%;
	}
	.owl-buttons{
		bottom:70%;
	}
	input.order_sigway {
		left: calc(50% - 86px);
		left: -webkit-calc(50% - 86px);
	}
	.head_bottom span{
		padding: 10px 5px;
		font-size:9px;
	}
	.head_bottom div img{
		width:20px
	}
	.item h2{
		font-size:24px;
	}
	.item .total{
		left:60.9%;
	}
	.item .equipment{
		top: 63.5%;
	}
	.equipment form{
		margin-top: -5px;
	}
	.item .count_input input{
		margin:0 4px 0 0;
	}
	.minus {
		left: 1.5%;
	}
	.item .main_photo{
		height:52.7%;
		width:37.2%;
	}
	.item .main_photo img{
		width:100%;
	}
	.item .photos_videos img{
		width:35px;
	}
	.item .photos_videos .i_video img{
		width:25px;
	}
	.otzyvy{
		top:2.3%;
		left:2.2%;
	}
	.percents{
		top:2%;
		right:3.4%;
	}
	.section.sixth{
		height:120vw;
	}
	.hidden{
		display:block
	}
	.step p, .step h2{
		position:relative;
		top:-10px;
	}
	.ninth h1{
		font-size:20px;
		top: -36.5vw;
	}
	.steps{
		top:-33.5vw;
	}
	.form_bg{
		min-width:275px;
	}
	.tenth h1, .tenth h2, .tenth h3, .cm_name, .cm_number, .time_left{
		width:205px;
	}
	.send_number{
		top:65%;
	}
	.ten_min {
		width: 160px;
		left: 38.1%;
		top:72%;
	}
	.head_name, .phone{
		left:41.4%;
	}
	.send_number {
		left: 40.8%;
	}
	.add_i p{
		position:relative;
		top:-10px;
	}
	.send_number_cm{
		line-height:25px;
		left:54.8%;
	}
	.total a span{
		font-size:9px;
	}
	.cm_text{
		font-size:10px;
	}
	.star_life span.Looking_cautiously{
		line-height:14px;
	}
	.plus{
		left:15.5%;
		left:-moz-calc(15.5% - 1%);
	}
	.item{
		height:75vw;
	}
	.window {
		height: 30%;
	}
	body.confirmpage .confirmtext{
		width: 95%;
	}
	.item .photos_videos{
		top:60.5%;
	}
}
@media (max-width:599px){ /*540*/
	.drawer-hamburger {
		left: 7.8%!important;
	}
	.have_to_try span.try_it {
		font-size: 21px;
	}
	.head_bottom span{
		font-size:9px;
		padding:10px 2px;
	}
	.head_bottom{
		padding:10px 1%;
	}
	.just_cool span {
		font-size: 30px;
		line-height: 20px;
	}
	.just_cool{
		top: 48.6%;
	}
	input.order{
		font-size:12px;
		padding:2px 15px;
		left: calc(50% - 87px);
	   left: -webkit-calc(50% - 87px);
	}
	input.order:active{
		font-size:12px;
		padding:3px 15px 1px 15px;
		left: calc(50% - 87px);
	   left: -webkit-calc(50% - 87px);
	}
	input.button.order{
		left:12.4%;
	}
	.off_road_edition{
		height:21%;
	}
	.item{
		height:90vw;
	}
	.item .equipment{
		top:65.5%;
	}
	.item .count{
		top: 75%;
	}
	.item .count_input{
		top:78%;
	}
	.item .share{
		margin-top:5px!important;
	}
	.item .total {
		left: 54.9%;
	}
	.revs .rev{
		height: calc(24% - 10px);
		height: -moz-calc(24% - 10px);
		height: -webkit-calc(24% - 10px);
	}
	.say_t {
		bottom: 9%;
		left: 38%;
		top:unset;
	}
	.say_p {
		bottom: 5%;
		top:unset;
	}
	.window input.w_send{
		width:45%;
	}
	.cm_text{
		width:21%;
		font-size:10px;
	}
	.send_number_cm{
		left:52.8%;
	}
	.eleventh h1{
		font-size:16px;
	}
	.section.tenth{
		min-height:450px;
	}
	.ten_min{
		left:38%;
	}
	.plus{
		left:17.5%;
		left:-moz-calc(17.5% - 1%);
	}
	.add_i:nth-child(3) div{
		width:16%;
	}
	.window {
		height: 35%;
		left: 7%;
		width: 86%;
	}
	.window textarea {
		height: 80px;
	}
	.video_name{
		display: none;
	}
	.section.fifth{
		margin-top:-9.5vw;
	}
	.drawer-menu-item{
		padding:19px 10px;
	}
	.tenth h1 {
		top: 23.1%;
	}
	.tenth h2 {
		top: 27.5%;
	}
	.tenth h3 {
		top: 33.5%;
	}
	.ten_min{
		top:76%;
	}
	.time_left {
		top:55.5%;
	}
	.send_number {
		top:69%;
	}
	.send_number:active {
		padding: 1px 4px 0px 4px;
		line-height: 19.2pt;
		top: 69%;
		font-size: 11px;
	}
	input.button.order:active{
		left: 12.4%;
		font-size: 12px;
		padding: 3px 15px 1px 15px;
	}
	.cm_number {
		top: 46%;
	}
	.cm_name {
		top: 40%;
	}
	.phone{
		top:47.1%;
	}
	.head_name{
		top:41%;
	}
	.bt_title{
		font-size:13px;
	}
}
@media (max-width:539px){ /*480*/
	.drawer-hamburger {
		left: 7.6%!important;
	}
	.general_phone_video{
		font-size:16px;
		top:20px;
	}
	.hidden1.d{
		display:block;
	}
	.loc_date{
		display:block;
		top:0;
	}
	.com_pic{
		height:60%;
	}
	.drawer-menu-item{
		padding:15px 10px;
	}
	.head_bottom{
		padding:10px 2%;
	}
	.head_bottom div img {
		width: 20px;
	}
	.item .photos_videos{
		top:63.5%;
	}
	.step p{
		font-size:10px;
		line-height:10px;
	}
	.plus{
		left:19.5%;
		left:-moz-calc(19.5% - 1%);
		top:1.4vw;
	}
	.minus{
		top:1.4vw;
	}
	input.order_sigway {
		left: calc(50% - 81px);
		left: -webkit-calc(50% - 81px);
		padding:5px 10px;
	}	
	input.order_sigway:active {
		padding:6px 10px 4px 10px;
	}
	.have_to_try span.new_bright_emotions{
		font-size:12px;
	}
	.off_road_edition{
		top:35%;
	}
	.just_cool {
		top: 58.6%;
	}
	input.order {
		top: 78%;
	}
	.off_road_edition{
		width:41.7%;
	}
	.off_road_edition {
		height: 24%;
	}
	.item {
		height: 105vw;
	}
	.item .count_input input[type="phone"] {
		width: 85px;
		font-size:10px;
	}
	img.cart{
		margin-left:10px;
	}
	.item .main_photo{
		top: 29.7%;
	}
	.item .total{
		top:17%;
	}
	.item h2 {
		font-size: 20px;
	}
	.item .weight, .item .dimensions{
		top:18.6%;
	}
	.item .dimensions {
		left: 22.7%;
	}
	.item .text{
		top:25%;
	}
	.head_bottom div img {
		width: 20px;
		margin-top: 0;
		margin-left: 50px;
	}
	.head_bottom span {
		font-size: 9px;
		padding:0 15px;
		padding: 0 -moz-calc(5px + 7px);
	}
	.hb_wheel4{
		margin-left:80px!important;
	}
	.step p, .step h2{
		bottom:14px;
	}
	.sl_span{
		font-size:24pt;
	}
	.star_life span.Looking_cautiously{
		line-height:11px;
		font-size:11px;
	}
	.revs{
		top:10.5%;
		height:85%;
	}
	.say_p{
		bottom:1%;
	}
	.say_t {
		bottom: 6%;
		left: 39%;
	}
	.step h2{
		font-size:12px;
	}
	.step p, .step h2{
		top:-12px;
	}
	.send_number {
		left: 42.8%;
	}
	.head_name, .phone{
		left:43%;
	}
	.form_bg{
		left:29.7%;
	}
	.section.eleventh{
	    margin-top: -14.2vw;
	}
	.bt_title{
		top:-15px;
		    font-size: 13px;
	}
	.eleventh h1 {
		font-size: 12px;
		width: 100%;
		left: 0;
		top: 5px;
	}
	.additions{
		top:7.8%;
	}
	.additions .add_i {
		height: 28vw;
	}
	.call_me_block{
		width:69.2%;
		left:15.4%;
	}
	.cm_text{
		width:30%;
		height:7%;
		left:17.1%;
		line-height:20px;
	}
	.send_number_cm {
		left: 60%;
	}
	.cm_text {
		width: 37%;
	}
	.mobimg{
		display:inline;
	}
	.fullimg{
		display:none;
	}
	.send_number_cm{
		top:82.7%;
		padding:0 2px;
		left:59.5%;
	}
	footer{
		height:27.8vw;
	}
	.item .equipment {
		top: 63.5%;
	}
	.section.sixth {
		height: 170vw;
	}
}
@media (max-width:479px){ /*414*/
	.hb_wheel4 {
		margin-left: 59px!important;
	}
	.have_to_try span.new_bright_emotions{
		font-size:11px;
		line-height:12px;
	}
	.video{
		top:50%;
	}
	.item {
		height: 125vw;
	}
	.item .count_input input {
		margin: 10px 4px 0 0;
	}
	.reviews_bg.hidden1:nth-child(1){
		display:block;
	}
	.say_t{
		left:30%;
	}
	.say_p{
		bottom:1%;
		left:22%;
	}
	.section.sixth {
		height: 220vw;
	}
	.step h2{
		font-size:10px;
	}
	img.addition.hidden1{
		display: block;
		position: relative;
		top: -20px;
	}
	.additions .add_i {
		height: 48vw;
	}
	input.order_sigway{
		left: calc(50% - 66px);
		left: -webkit-calc(50% - 66px);
	}
	body.confirmpage .confirmtext{
		font-size: 35px;
	}
	.item{
		height:160vw;
	}
	.item h2{
		top:3.9%;
	}
	.item .weight{
		top:8.6%;
	}
	.item .dimensions {
		left: 5.7%;
		top: 12%;
	}
	.item .total{
		top:14.5%;
		left:5.9%;
	}
	.item .equipment img{
		width:30px;
	}
	.item .text{
		top:20%;
	}
	.item .main_photo{
		top:24.7%;
	}
	.item .photos_videos{
		width:40%;
		top:49.5%;
	}
	.item .photos_videos .i_video{
		margin-left:10px;
	}
	.item .equipment{
		top:70.5%;
	}
	.item .count_input{
		left:5.7%;
		width:94.3%;
	}
	.item .count_input input[type="phone"]{
		font-size:12px;
	}
}
@media (max-width:420px){ /*320*/
	.drawer-hamburger {
		left: 11.5%!important;
	}
	.general_phone_video{
		font-size:12px;
	}
	img.watch{
		left:13.7%;
	}
	.head_bottom{
		padding:10px 2%;
	}
	.item .text{
		width:46%;
	}
	.head_bottom div img{
		margin-left:0;
	}
	.hb_wheel4 {
		margin-left: 30px!important;
		margin-left: -moz-calc(30px - 3px) !important;
	}
	.have_to_try{
		top:calc(50% + 2vw + 3%);
		top:-webkit-calc(50% + 2vw + 3%);
	}
	.have_to_try span.try_it{
		font-size:13px;
	}
	.have_to_try span.new_bright_emotions{
		font-size:10px;
	}
	input.order_sigway{
		padding:2px 5px;
		font-size:12px;
	}
	input.order_sigway:active{
		padding:3px 5px 1px 5px;
		font-size:12px;
	}
	.section.head{
		height:56.9vw;
	}
	.off_road_edition{
		height: 33%;
		width: 42.7%;
		top: 30%;
	}
	.off_road_edition span {
		font-size: 10px;
	}
	.just_cool span{
		font-size:20px;
		line-height:18px;
	}
	input.order{
		padding:2px 10px;
	}
	input.order:active{
		padding:3px 10px 1px 10px;
	}
	.video_name{
		width:100%;
		left:0;
		font-size:10px;
		bottom:25%;
	}
	.sl_span{
		font-size:16pt;
	}
	.star_life span.Looking_cautiously{
		width: 64.3%;
		left: 17.85%;
	}
	.comments{
		height:90%;
		bottom:-65%;
	}
	.section.fourth{
		height:140vw;
	}
	.owl-carousel .owl-wrapper-outer{
		height:140vw;
	}
	.section.sixth {
		height: 225vw;
	}
	.owl-pagination{
		bottom:75%;
	}
	.owl-buttons {
		bottom: 75%;
	}
	.comment1 .com_text h3 {
		bottom: 3px;
	}
	.comments .comment1{
		height:200%;
	}
	.comments .comment2{
		height:200%;
	}
	.com_pic{
		height:40%;
	}
	.item{
		height:160vw;
	}
	.item h2{
		top:3.9%;
	}
	.item .weight{
		top:8.6%;
	}
	.item .dimensions {
		left: 5.7%;
		top: 12%;
	}
	.item .total{
		top:14.5%;
		left:5.9%;
	}
	.item .equipment img{
		width:30px;
	}
	.item .text{
		top:22%;
	}
	.item .main_photo{
		top:24.7%;
	}
	.item .photos_videos{
		width:40%;
		top:49.5%;
	}
	.item .photos_videos .i_video{
		margin-left:10px;
	}
	.item .equipment{
		top:70.5%;
	}
	.item .count_input{
		left:5.7%;
		width:94.3%;
	}
	.item .count_input input[type="phone"]{
		font-size:12px;
	}
	.step img{
		position:relative;
		top:5px;
	}
	.drawer-nav{
		width:30%;
	}
	.drawer--left .drawer-nav{
		left:-30%;
	}
	.drawer-nav-ul{
		width:30%;
	}
	.item .count{
		left:5.7%;
	}
	.item .share{
		margin-left:0px!important;
		margin-top:0px!important;
	}
	.plus{
		left:15%;
		left:-moz-calc(15% - 1%);
		top:1.9vw;
	}
	.minus{
		top:1.9vw;
	}
	.hidden1{
		display:block;
	}
	.section.sixth{
		height:275vw;
	}
	.otzyvy {
		font-size: 25px;
	}
	.loc_date{
		top:0px;
	}
	.say_p{
		bottom:-10px;
		left:22%;
	}
	.say_t{
		left:32%;
		bottom:4%;
	}
	.TX{
		top:97.2%;
	}
	.section.ninth{
		height:27vw;
	}
	.how_order.hidden{
		top:-10vw;
	}
	.steps .step{
		width:50%;
		height:78px;
	}
	.steps {
		top: -31.5vw;
	}
	.form_bg{
		left:9%;
	}
	.tenth h1, .tenth h2, .tenth h3, .cm_name, .cm_number{
		left:16.8%;
	}
	.head_name, .phone{
		left:28%;
		left:-moz-calc(28% - 1%);
	}
	.time_left{
		left:17.9%;
	}
	.send_number {
		left: 27.5%;
		left: -moz-calc(27.5% - 3%);
	}
	.ten_min {
		left: 29.9%;
	}
	.additions .add_i{
		height:45vw;
	}
	.additions {
		top: 14.88%;
	}
	.eleventh h1{
		top:15px;
	}
	.addition.hidden1{
		top:-17px;
	}
	.call_me_block {
		width: 89.2%;
		left: 5.4%;
	}
	.cm_text{
		left:7.1%;
	}
	.send_number_cm {
		left: 58%;
	}
	.cm_text {
		width: 42%;
		font-size:7px;
	}
	footer{
	    height: 38.8vw;
		margin-top: -9.5vw;
	}
	.ten_min {
		left: 22.2%;
	}
	.stars5 {
		top: -11px;
	}
	.drawer-nav-ul{
		top:15%;
	}
	.drawer-menu-item{
		padding:10px
	}
	.head_bottom span{
		padding:0 5px;
	}
	.send_number_cm{
		left:57%;
		top:83.5%;
	}
	.item .equipment {
		top: 71.5%;
	}
	.item .count_input {
		top: 82%;
	}
	.tenth h1 {
		top: 23.1%;
	}
	.tenth h2 {
		top: 27.5%;
	}
	.tenth h3 {
		top: 33.5%;
	}
	.ten_min{
		top:76%;
	}
	.time_left {
		top:55.5%;
	}
	.send_number {
		top:69%;
	}
	.cm_number {
		top: 46%;
		height:4%;
	}
	.cm_name {
		top: 40%;
		height:4%;
	}
	.phone{
		top:47.1%;
	}
	.head_name{
		top:41%;
	}
}
@media (max-width:319px){ /*240*/
	.drawer-hamburger {
		left: 5.55%!important;
	}
	.head_bottom span{
		display:block;
		float:none;
	}
	.hb_wheel4 {
		margin-left: 0px!important;
	}
	input.order_sigway{
		left:20%;
		top:10%;
	}
	.off_road_edition{
		height:33%;
		width:92.7%;
	}
	.off_road_edition span{
		top:26.1%;
		left:15.4%;
	}
	.just_cool{
		top:48.6%;
	}
	.video{
		top:51.2%;
		right:15.5%;
	}
	.section.head {
		height: 106.9vw;
	}
	.off_road_edition{
		top:10%;
	}
	.pages{
		left:2%;
		top:2%;
		font-size:10px;
	}
	.star_life span.Looking_cautiously {
		width: 190px;
		left: 15px;
	}
	.owl-pagination{
		bottom:80%;
	}
	.sl_span{
		top:10.4%;
	}
	.comments {
		height: 140%;
		bottom: -115%;
	}
	.section.fourth {
		height: 185vw;
	}
	.owl-carousel .owl-wrapper-outer{
		height:185vw;
	}
	.comment1 .com_text h3 {
		bottom: -1px;
	}
	.comment2 .com_text h3 {
		bottom: -1px;
	}
	.item{
		height:240vw;
	}
	.item .text{
		width:88.6%;
	}
	.item .main_photo{
		right:58.7%;
		top:48.7%;
	}
	.item .photos_videos {
		width: 50%;
		top: 48.5%;
	}
	.item .photos_videos img {
		width: 28px;
	}
	.item .count_input {
		left: 5.7%;
		width: 100%;
		top:75%;
	}
	.item .count {
		left: 5.7%;
		top:71%;
	}
	.item .count_input input.share{
		margin-top:3px!important;
	}
	.plus{
		left:20%;
		left:-moz-calc(20% - 1%);
	}
	.hidden2{
		display:block
	}
	.revs {
		top: 6.5%;
		height: 90%;
	}
	.section.sixth {
		height: 430vw;
	}
	.say_p {
		bottom: -30px;
		left: 4%;
	}
	.say_t {
		left: 19%;
		bottom:-30px;
	}
	.how_order.hidden {
		top: 10vw;
	}
	.how_order{
		height:150px;
	}
	.steps {
		top: -20.5vw;
	}
.section.ninth {
		height: 45vw;
	}
	.form_bg {
		min-width: 240px;
		left:0;
		height:265px;
	}
	.tenth h1, .tenth h2, .tenth h3, .cm_name, .cm_number {
		left: 0;
		width: 220px;
	}
	.head_name, .phone {
		left: 19%;
	}
	.time_left {
		left: 10px;
	}
	.send_number {
		left: 17.5%;
	}
	.ten_min {
		left: 41px;
		width: 130px;
	}
	.additions .add_i{
		width:50%;
		height:65px;
	}
	.additions .add_i:nth-child(1), .additions .add_i:nth-child(2){
		height:80px;
	}
	.add_i p{
		max-width:102px;
	}
	.addition{
		height:210px;
	}
	.add_i:nth-child(3) div, .add_i:nth-child(5) div, .add_i:nth-child(6) div, .add_i:nth-child(7) div, .add_i:nth-child(8) div{
		padding-left: 8px;
	}
	.call_me_block{
		height: 18.7%;
		top: 72.1%;
	}
	.cm_text{
	   top: 73.4%;
	}
	.cm_text{
	   width: 178px;
	   left:23px;
	}
	.send_number_cm {
		left: 18%;
		padding: 1px 22px;
	}
	.send_number_cm:active {
		left: 18%;
		padding: 2px 22px 0px 22px;
	}
	footer {
		height: 120px;
		margin-top: -13.5vw;
	}
	.comments .comment1{
		height:190%;
	}
	.comments .comment2{
		height:190%;
	}
	.drawer-nav-ul{
		width:50%;
	}
	.drawer--left .drawer-nav{
		width:50%
	}
	.drawer--left .drawer-nav{
		left:-50%;
	}
}
@media (min-width:376px) and (max-width:479px){/*414*/
	.form_bg {
		left: 17%;
		width: 300px;
		top: 20%;
	}
	.send_number_cm{
		top:84.2%;
	}
	.hidden1.d{
		display:none;
	}
	.tenth h1, .tenth h2, .tenth h3, .cm_name, .cm_number {
		left: 25%;
	}
	.head_name, .phone {
		left: 34%;
	}
	.time_left {
		left: 26%;
		top:53%;
	}
	.send_number {
		left: 33.5%;
		top:67%;
	}
	.reviews img.hidden1.h{
		display: none;
	}
	.head_bottom span{
		padding:0 21px;
	}
	.head_bottom div img{
		margin-left:0px;
	}
	.item {
		height: 105vw;
	}
	.item .equipment {
		top: 71.5%;
	}
	.item .count_input {
		top: 82%;
	}
	.tenth h1 {
		top: 20.1%;
	}
	.tenth h2 {
		top: 24.5%;
	}
	.tenth h3 {
		top: 30.5%;
	}
	.ten_min{
		top:75%;
	}
	.say_t{
		bottom:6%;
	}
	.say_p{
		bottom:0;
	}
	.ten_min {
		left: 29.2%;
	}
	.section.fourth{
		height:140vw;
	}
	.owl-carousel .owl-wrapper-outer{
		height:140vw;
	}
	.hb_wheel4 {
		margin-left: 20px!important;
	}
	.section.sixth {
		height: 170vw;
	}
	.item .photos_videos{
		top:70%;
	}
	.comment1, .comment2{
		height:170%;
	}
	.com_pic {
		height: 55%;
	}
	.total_price span {
		margin-left: 5px;
	}
	.head_bottom {
		padding: 10px 4%;
	}
	.cm_number {
		top: 44%;
	}
	.cm_name {
		top: 38%;
	}
	.phone{
		top:45.1%;
	}
	.head_name{
		top:39%;
	}
}
@media (min-width:321px) and (max-width:376px){/*375*/
	.send_number_cm{
		top:83.6%;
	}
	.general_phone_video{
		font-size:14px;
		top:10px;
	}
	.item .text{
		width:44%;
	}
	.head_bottom div img {
		width: 20px;
		margin-top: 0;
		margin-left: 0px;
	}
	.hb_wheel4 {
		margin-left: 33px!important;
	}
	.reviews img.hidden1:nth-child(3){
		display: none;
	}
	.section.fourth{
		height:140vw;
	}
	.owl-carousel .owl-wrapper-outer{
		height:140vw;
	}
	.form_bg {
		left: 16%;
		width: 300px;
		top: 20%;
	}
	.tenth h1, .tenth h2, .tenth h3, .cm_name, .cm_number {
		left: 25%;
	}
	.head_name, .phone {
		left: 34%;
	}
	.time_left {
		left: 26%;
	}
	.send_number {
		left: 33.5%;
	}
	.section.sixth {
		height: 225vw;
	}
	.comment1, .comment2{
		height:170%;
	}
	.com_pic {
		height: 55%;
	}
	.total_price span {
		margin-left: 5px;
	}
	.send_number_cm{
		top:84%;
	}
	.item .equipment {
		top: 68.5%;
	}
	.tenth h1 {
		top: 22.1%;
	}
	.item{
		height:115vw;
	}
	.item .count_input {
		top: 85%;
	}
	.item .equipment {
		top: 74.5%;
	}
	.item .photos_videos{
		top:61.5%;
	}
	.ten_min {
		left: 29.2%;
	}
	.hidden1.h{
		display:none;
	}
	.head_bottom span {
		padding: 0 15px;
	}
	.item .equipment {
		top: 71.5%;
	}
	.item .count_input {
		top: 82%;
	}
	.tenth h1 {
		top: 20.1%;
	}
	.tenth h2 {
		top: 24.5%;
	}
	.tenth h3 {
		top: 30.5%;
	}
	.ten_min{
		top:75%;
	}
	.time_left {
		top:53%;
	}
	.send_number {
		top:67%;
	}
	.cm_number {
		top: 44%;
		height:4.8%;
	}
	.cm_name {
		top: 38%;
		height:4.8%;
	}
	.phone{
		top:45.1%;
	}
	.head_name{
		top:39%;
	}
}
@media (min-width:330px) and (max-width:373px){
	.head_bottom span{
		padding:0 12px;
	}
}