/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type=number] {
    -moz-appearance:textfield;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color:#000;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */
input, textarea{
    outline:none;
}
input[type=submit]:hover{
	cursor:pointer;
}
@font-face {
    font-family: 'TTFirs Bold'; /* Гарнитура шрифта */
    src: url(../css/fonts/TTFirs-Bold.otf); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family: 'TTFirs ExtraBold'; /* Гарнитура шрифта */
    src: url(../css/fonts/TTFirs-ExtraBold.otf); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family: 'TTFirs Black'; /* Гарнитура шрифта */
    src: url(../css/fonts/TTFirs-Black.otf); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family: 'TTFirs ExtraLight'; /* Гарнитура шрифта */
    src: url(../css/fonts/TTFirs-ExtraLight.otf); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family: 'TTFirs Regular'; /* Гарнитура шрифта */
    src: url(../css/fonts/TTFirs-Regular.otf); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family: 'TTFirs Medium'; /* Гарнитура шрифта */
    src: url(../css/fonts/TTFirs-Medium.otf); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family: 'Myriad Pro Regular'; /* Гарнитура шрифта */
    src: url(/css/fonts/MyriadPro-Regular.otf); /* Путь к файлу со шрифтом */
   }
.section.head{
	background:url(../images/toppage_bg.png) 0 0 no-repeat;
	background-size:cover;
	width:100%;
	height:45.9vw;
	text-align:center;
	overflow-y:visible;
}
main{
	width:93.3%;
	margin:0 auto;	
	height:100%;
}
.head .head_main{
	position:relative;
    z-index: 2;
	max-height:100vh;
	overflow-y:hidden;
}
.head .head_main .hm_bg{
	width:100%;
	z-index: 2;
	position: relative;
}
.head .head_main .hm_bg.min{
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
}
.head .head_main .hm_bg.active{
	position: fixed;
	top: 0;
	left: 0;
	width: calc(100vw - 17px);
	width: -moz-calc(100vw - 17px);
	width: -webkit-calc(100vw - 17px);
	height: 100%;
	z-index: 700;
}
.head .head_main .hm_bg.mobgif{
	display: none;
}

.head .head_main .active source{
	width:100%;
}
.head .head_main .hm_logo{
	position:absolute;
	left:28%;
	top:calc(50% - 9vw);
	top:-moz-calc(50% - 9vw);
	top:-webkit-calc(50% - 9vw);
	width:35%;
	z-index:2;
}
.have_to_try{
	position:absolute;
	top:calc(50% + 2vw + 13%);
	top:-moz-calc(50% + 2vw + 13%);
	top:-webkit-calc(50% + 2vw + 13%);
	width:100%;
	text-align:center;
	z-index:2;
}
.have_to_try span{
	color:#fff;
	font-family:'TTFirs Bold';
	text-transform:uppercase;
	line-height:1;
	display:inline-block;
}
.have_to_try span.try_it{
	font-size:50px;
	display:block;
}
.general_phone_video{
	position: absolute;
    right: 10%;
    top: 40px;
    z-index: 6;
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-family: 'TTFirs Bold';
    display: block;
}
.have_to_try span.new_bright_emotions{
	font-size:30px;
	line-height:50px;
}
.head_bottom{
	padding:15px 10%;
	overflow:hidden;
	position:relative;
	top:-2.5px;
	background:#fff;
    z-index: 1;
}
.head_bottom img{
	float:left;
	width:50px;
	height:auto;
}
.head_bottom span{
	font-family:'TTFirs Bold';
	text-transform:uppercase;
	font-size:14px;
	height: 30px;
    vertical-align: middle;
    display: table-cell;
	padding: 10px 24px;
	float:left;
}
.hb_wheel2{
	margin-left:2.4vw;
}
.hb_wheel3{
	margin-left:2.65vw;
}
.hb_wheel4{
	margin-left:3.7vw;
}
.owl-item img.people{
	visibility:hidden;
}
img.button_lb{
	position:absolute;
	right:3.3%;
	bottom:1%;
	width:6.43%;
	cursor:pointer;
	z-index: 2;
	display:none;
}
img.watch{
	position:absolute;
	top:11.3%;
	left:8.7%;
	width:1.71%;
	z-index: 104;
}
.top_menu{
	width:100%;
	position:absolute;
	top:7.2%;
}
.menu_img{
	position:absolute;
	top:8%;
	left:5.7%;
	width:1.71%;
}
.section.second .second_bg{
	width:100%;
	height:auto;
}
.section.second{
	position:relative;
}
.off_road_edition{
	background:url(../images/red_bg.png) 0 0 no-repeat;
	position:absolute;
	top:29.4%;
	left:6.4%;
	width:36.7%;
	height:10.4%;
	background-size:100%;
}
.off_road_edition span{
	color:#fff;
	font-family:'TTFirs Bold';
	font-size:20px;
	display:block;
	position:absolute;
	left:16.4%;
	top:30.1%;
	padding: 0;
}
.off_road_edition div{
	position:relative;
	width:100%;
	height:100%;
}
.just_cool{
	position:absolute;
	text-align:left;
	top:41.6%;
	left:12.4%;
}
.just_cool span{
	display:block;
	font-family:'TTFirs Black';
	color:#222328;
	font-size:90px;
	font-weight:bold;
	line-height:70px;
	
}
.logo_bg{
	width:100%;
	top:0;
	position:absolute;
	height:100%;
	left:0;
	z-index:0;
}
.total_price span{
	margin-left:15px;
}
.video{
	position:absolute;
	width:28%;
	height:27.5%;
	top:41.2%;
	right:19.5%;
	border-radius:4px;
	box-shadow: 0 0 15px rgba(0,0,0,0.5);
	overflow-y:hidden;
}
.video iframe{
	margin-top:-18%;
	margin-top:-moz-calc(-18% + 0.5%);
}
.video img{
	width:25px;
	height:26px;
	position:absolute;
	top:calc(50% - 13px);
	left:calc(50% - 12.5px);
}
input.button{
	position:absolute;
	cursor: pointer;
	background-size:100% 100%;
	border:none;
	font-family:'TTFirs Black';
	padding-bottom:4px;
	line-height:150%;
}
.item .order_item:hover, .send_number:hover, .send_number_cm:hover, input.button:hover, .window input.w_send:hover{
	background: linear-gradient(to top, #f6a927, #f6a927);
	cursor: pointer;
}
.item .order_item:active, .send_number:active, .send_number_cm:active, input.button:active, .window input.w_send:active{
	background: linear-gradient(to top, #ffe050, #ffe050);
	cursor: pointer;
}
input.order_sigway:active{
	padding: 12px 15px 8px 15px;
}
.button.order:active{
	padding: 11px 31px 10px 34px;
}
.item .order_item:active{
	padding: 12px 15px 8px 15px;
}
.send_number:active{
	padding: 14px 27px 12px 29px;
}
.send_number_cm:active{
	padding: 14px 15px 10px 15px;
}
.window input.w_send:active{
	padding-top:2px;
}
input.order{
	left:12.4%;
	top:63.7%;
	padding: 9px 31px 12px 34px;
	border-radius: 20px;
	background: linear-gradient(to top, #f6a927, #ffe050);
	box-shadow: 0px 12px 16px -12px #000000;	
	font-family:'TTFirs Bold';
	font-size: 20px;
	text-transform:uppercase;
	letter-spacing: 2px;
}
input.order_sigway{
	top:85%;
	left:41.1%;
	font-family:'TTFirs Bold';
	font-size: 20px;
	text-transform: uppercase;
	padding: 10px 15px;
	border-radius: 20px;
	background: linear-gradient(to top, #f6a927, #ffe050);
	box-shadow: 0px 12px 16px -12px #000000;
	z-index: 2;
}
.section.third{
	background:url(../images/background2.png) 0 0 no-repeat;
	background-size:100% 100%;
	width:100%;
	text-align:center;
	margin-top:-2.5px;
	position:relative;
	height:50vw;
}
.section.third main{
	position:absolute;
	top:0;
	left:3.35%;
}
.third img{
	width:100%;
	height:100%;
	
}
.section.fourth{
	background:transparent;
	width:100%;
	text-align:center;
	height:44vw;
	overflow-y:visible;
}
img.pics, img.people{
	width:100%;
	height:70%;
}
.star_life{
	position:relative;
}
.star_life span{
	font-family:'TTFirs ExtraBold';
	color:#fff;
	position:absolute;
	display:block;
	text-align:center;
}
.sl_span{
	top:18.4%;
	font-size:50pt;
	width:100%;
}
.star_life span.Looking_cautiously{
	top:33.6%;
	width:44.3%;
	left:27.85%;
	font-size:18px;
	line-height:28px;
	font-family:'TTFirs Regular';
}
.star{
	position:absolute;
	height:17.9%;
	top:-6%;
	left:44.8%;
}
.comments{
	position:absolute;
	bottom:0;
	width:100%;
	height:38.5%;
}
.owl-page{
	width:20px;
}
.owl-pagination{
	position: absolute;
	width: 100%;
	bottom: 45%;
}
.owl-buttons{
	position:absolute;
	width:100%;
	bottom:65%;
}
.owl-prev{
	float:left;
}
.owl-next{
	float:right;
}
.comments .comment1{
	background:#313232;
	width:50%;
	height:100%;
	float:left;
	position:relative;
}
.comments .comment2{
	background:#fff;
	width:50%;
	height:100%;
	float:left;
	position:relative;
}
.com_pic{
	position:absolute;
	height:100%;
	width:50%;
}
.comment1 .com_text span{
	color:#a8acb9;
	font-size:16px;
	text-align:left;
	line-height:24px;
	font-family:'TTFirs Regular';
}
.comment2 .com_text span{
	color:#4f5362;
	font-size:16px;
	text-align:left;
	line-height:24px;
	font-family:'TTFirs Regular';
}
.com_text{
	position:absolute;
	width:40%;
	margin:8.3% 5%;
}
.comment1 .com_text h3{
	color:#fff;
	font-size:12px;
	font-family:'TTFirs Regular';
	text-align:left;
	position:relative;
	bottom:15px;
	text-transform:uppercase;
	letter-spacing: 1.2px;
	line-height:28px;
}
.comment2 .com_text h3{
	color:#222328;
	font-size:12px;
	font-family:'TTFirs Bold';
	text-align:left;
	position:relative;
	bottom:15px;
	text-transform:uppercase;
	letter-spacing: 1.2px;
	line-height:28px;
}
.section.fifth{
	background:url(../images/background3.png) 0 0 no-repeat;
	background-size:100% 100%;
	width:100%;
	text-align:center;
}
.item{
	top:15vw;
	height:53vw;
	width:100%;
	position:relative;
	background:#fff;
	font-family:'TTFirs Bold';
}
.item h2{
	position:absolute;
	top:15.9%;
	left:5.7%;
	font-family:'TTFirs ExtraBold';
	font-size:42px;
	z-index:2;
}
.item .weight{
	position:absolute;
	top:23%;
	left:5.7%;
	font-family:'TTFirs Medium';
	font-size:12px;
}
.item .weight span:nth-child(1){
	color:#bdc1ca;
	margin-right:5px;
	text-transform:uppercase;
}
.item .weight span:nth-child(2), .item .dimensions span:nth-child(2){
	color:#4f5362;
}
.item .dimensions{
	position:absolute;
	top:23%;
	left:16.7%;
	font-family:'TTFirs Medium';
	font-size:12px;
}
.item .dimensions span:nth-child(1){
	color:#bdc1ca;
	margin-right:5px;
	text-transform:uppercase;
}
.item .text{
	position:absolute;
	height:12.4%;
	width:40.1%;
	left:5.7%;
	top:30.9%;
	text-align:left;
	font-family:'TTFirs Bold';
	color:#4f5362;
	line-height:24px;
	font-size:16px;
}
.item .total{
	position:absolute;
	top:11.7%;
	left:68.9%;
	font-family:'TTFirs ExtraBold';
	color:#4f5362;
	font-size:24px;
}
.total a{
	display:block;
	text-align:left;
	text-decoration:none;
}
.total a span{
	cursor:pointer;
	color:#BE5856;
	font-style:italic;
	font-family: 'TTFirs ExtraBold';
	text-transform:uppercase;
	font-size:10px;
	line-height:12px;
	text-align:left;
	margin-top: 5px;
	border-bottom:1px dashed #BE5856;
}
.total a span:hover{
	border-bottom:1px solid #BE5856;
}
.mobimg{
		display:none;
	}
.item .main_photo{
	position:absolute;
	top:21.7%;
	right:8.7%;
	height:57.7%;
	width:43.2%;
}
.item .main_photo img{
	width:100%;
}
.item .main_photo iframe{
	width:100%;
	height:100%;
}
.item .main_photo object{
	width:100%;
	position: absolute;
	left: 0;
	height: 100%;
}
.item .main_photo object embed{
	width:100%;
	height:100%;
}
.item .equipment{
	position:absolute;
	top:61.5%;
	left:5.7%;
}
.item .main_photo div{
	height:100%;
}
#main_source{
	position: relative;
	max-height: 100%;
	max-width:100%;
}
.item .equipment span{
	display:block;
	text-align:left;
	color:#bdc1ca;
	font-family:'TTFirs Medium';
	text-transform:uppercase;
	font-size:12px;
	letter-spacing: 1.2px;
}
.item .equipment img{
	border:1px solid #bdc1ca;
	width:5.3vw;
	margin-right:10px;
	margin-top:10px;
}
.item .count{
	position:absolute;
	top:81%;
	left:5.7%;
}
.item .count_input{
	position:absolute;
	left:5.7%;
	top:79.5%;
	width:50%;
}
.item .count_input input{
	float:left;
	margin:0 10% 0 0;
}
.item .count_input input[type=phone]{
	width:350px;
	height:44px;
	color: #666769;
	text-align:center;
	border: 1px solid #bdc1ca;
	font-size:16px;
	letter-spacing:8px;
	font-family:TTFirs Medium;
}
.hidden{
	display:none;
	position: relative;
	top: -3px;
}
.item .count span{
	display:block;
	text-align:left;
	color:#bdc1ca;
	font-family:'TTFirs Medium';
	text-transform:uppercase;
	font-size:12px;
	letter-spacing: 1.2px;
}
.item .order_item{
	padding:10px 15px;
	border:none;
	font-family:'TTFirs Bold';
	border-radius: 5px;
	background: linear-gradient(to top, #f6a927, #ffe050);
	box-shadow: 0px 12px 16px -12px #000000;
	font-size: 14px;
	text-transform: uppercase;
	line-height:28px;
}
img.cart{
	margin-left:30px;
	height:16px;
}
span.total_count{
	font-family:TTFirs Medium;
	font-size:16px;
	line-height:28px;
}
.item .share{
	background:url(../images/blue_b_bg.png);
	background-size:100% 100%;
	border:none;
	font-family:'TTFirs ExtraBold';
	font-size: 14px;
	text-transform: uppercase;
	line-height:28px;
	color:#fff;
	padding:10px;
}
.small_photo{
	cursor: pointer;
}
.item .photos_videos{
	position:absolute;
	top:79.5%;
	height:10.8%;
	right:2.8%;
}
.item .photos_videos .i_video{
	float: left;
	margin-right:5px;
	background-color:#f5f5f5;
	padding:3px;
}
.item .photos_videos img{
	padding:10px;
	width:6.5vw;
}
.section.sixth{
	background:url(../images/background4.png) 0 0 no-repeat;
	background-size:100% 100%;
	width:100%;
	text-align:center;
	height:64.5vw;
	overflow-y:visible;
}	
.section.sixth main .reviews{
	position:relative;
	top:20.2vw;
	z-index:3;
}
.section.sixth main img.reviews_bg{
	width:100%;
}
.otzyvy{
	position:absolute;
	top:6.3%;
	left:4.2%;
	font-family:'TTFirs Black';
	font-size:50px;
}
.percents{
	position:absolute;
	top:4.8%;
	right:6.4%;
	font-family:'TTFirs Black';
	font-size:25px;
}
.percents span{
	display:block;
	text-align:right;
}
.percents span.sto{
	font-size:66.88px;
}
.percents span.positive{
	font-size:31.85px;
}
.revs{
	position:absolute;
	left:4.2%;
	width:91.6%;
	top:24%;
	height:60%;
	font-family:'TTFirs Bold';
}
.revs .rev{
	float:left;
	width:calc(25% - 10px);
	width:-moz-calc(25% - 10px);
	width:-webkit-calc(25% - 10px);
	height:calc(50% - 10px);
	height:-moz-calc(50% - 10px);
	height:-webkit-calc(50% - 10px);
	text-align:left;
	padding:5px;
	
}
.rev h2{
	font-size:30px;
	line-height:20px;
	font-family:TTFirs Medium;
	width:90%;
	line-height:30px;
}
.rev_text{
	font-size:15px;
	line-height:20px;
	display: block;
	padding-top: 15px;
	font-family:TTfirs Bold;
}
.loc_date{
	font-size:12px;
	display:block;
	line-height:20px;
	color:#4c4c4c;
	padding-bottom:5px;
	font-family:TTfirs Bold;
}
.stars5{
	width:1.2vw;
}
.say_p{
	position:absolute;
    left:4.2%;
	bottom:3.8%;
	width:4.8%;
	height:9.3%;
}
.say_t{
	position:absolute;
    left:10.6%;
	bottom:7.1%;
	text-decoration:none;
}
.say_p img{
	height:100%;
}
.say_t span{
	color:#000;
	font-family: 'TTFirs ExtraBold';
	font-size:20px;
	line-height:30px;
}
.section.seventh{
	background:url(../images/background7.png) 0 0;
	background-size:100% 100%;
	width:100%;
	text-align:center;
	height:60.7vw;
	position:relative;
	z-index:2;
}
.TX{
	position:absolute;
	z-index:4;
	top:94.2%;
	left:35.65%;
	width:28.9%;
	height:19vw;
}
.panda{
	position:absolute;
	height:65.9%;
	left:0;
	bottom:0;
}
.giraffe{
	position:absolute;
	height:65.9%;
	right:0;
	bottom:0;
}
.sig_wheels{
	position:absolute;
	top:48.8%;
	width:16.1%;
	left:41.95%;
}
.max_weight{
	width:17.9%;
	left:8%;
	top:19.4%;
	position:absolute;
}
.max_angle{
	position:absolute;
	width:7.2%;
	left:31.25%;
	top:33.3%;
}
.max_speed{
	width:8.1%;
	left:33%;
	top:50.5%;
	position:absolute;
}
.max_power{
	width:27.5%;
	left:38%;
	top:71.9%;
	position:absolute;
}
.max_time{
	width:15.4%;
	left:61.4%;
	top:54.9%;
	position:absolute;
}
.max_distance{
	width:11.6%;
	left:58.5%;
	top:37.8%;
	position:absolute;
}
.max_height{
	width:18.6%;
	left:69.4%;
	top:19.3%;
	position:absolute;
}
.power{
	width:5.2%;
	left:48.1%;
	top:45.7%;
	position:absolute;
}
.section.eighth{
	position:relative;
	background:#fff;
	height:61.6vw;
	top:-24.4vw;
	z-index:1;
}
.sigway_inside{
	position:absolute;
	width:100%;
}
.section.ninth{
	position:relative;
}
.how_order{
	width:100%;
	position:absolute;
	top:-36.5vw;
	z-index:2;
}
.section.tenth{
	background:url(../images/background9.png) 0 0;
	background-size:100% 100%;
	width:100%;
	text-align:center;
	height:75.4vw;
	position:relative;
	z-index:1;
	margin-top:-22.9vw;
	position:relative;
}
.form_bg{
	top:23.8%;
	position:absolute;
	left:31.1%;
	width:42.1%;
	text-align:center;
}
.tenth h1{
	position:absolute;
	width:30.5%;
	top:27.1%;
	left:35.1%;
	color:#fff;
	font-family:'TTFirs Black';
	font-size:50px;
	text-transform:uppercase;
	text-align:center;
	line-height:28.66px;
}
.tenth h2{
	position:absolute;
	top:31.5%;
	left:35.1%;
	width:30.5%;
	color:#f0ff00;
	font-family:'TTFirs Bold';
	text-transform:uppercase;
	font-size:24.07px;
	line-height:31.15px;
	text-align:center;
}
.tenth h3{
	position:absolute;
	top:34.7%;
	left:35.1%;
	width:30.5%;
	color:#fff;
	font-family:'TTFirs ExtraLight';
	text-transform:uppercase;
	font-size:20px;
	line-height:22px;
	text-align:center;
}
.cm_name{
	position:absolute;
	top:40.3%;
	left:35.1%;
	height:4.8%;
	width:30.5%;
	text-align:center;
}
.cm_name input{
	width:calc(50% - 30px);
	width:-webkit-calc(50% - 30px);
	height:100%;
	border:none;
	border-radius:8px;
	padding-left:36px;
	font-size:14px;
	line-height:14px;
	font-family:Arial;
}
.cm_number{
	position:absolute;
	top:46.9%;
	left:35.1%;
	height:4.8%;
	width:30.5%;
	text-align:center;
}
.cm_number input{
	width:calc(50% - 30px);
	width:-webkit-calc(50% - 30px);
	height:100%;
	border:none;
	border-radius:8px;
	padding-left:36px;
	font-size:14px;
	line-height:14px;
	font-family:Arial;
}
.head_name{
	width:15px;
	position:absolute;
	left: 43.2%;
	top: 42.1%;
}
.phone{
	width:15px;
	position:absolute;
	left: 43.2%;
	top: 48.7%;
}
.bt_title{
	display:inline-block;
	text-align:left;
	font-size:15pt;
	line-height:14pt;
	position:relative;
	top:-19px;
	font-family:Arial;
	right:20px;
}
.bt_t{
	display:inline-block;
	font-family:Arial;
}
.timer-desc{
	position:relative;
	left:6px;
	font-family:Arial;
}
.timer-desc li{
	display:inline-block;
	font-size:12pt;
	line-height:14pt;
	padding-right:8.5px;
	font-family:Arial;
}
.timer-desc ul{
	text-align:left;
}
.send_number{
	position:absolute;
	top:62.7%;
	left:39.8%;
	font-family:'TTFirs Bold';
	font-size:17.5pt;
	line-height:22pt;
	padding: 13px 27px 13px 29px;
	border: none;
	border-radius: 10px;
	background: linear-gradient(to top, #f6a927, #ffe050);
	box-shadow: 0px 12px 16px -12px #000000;
	text-transform:uppercase;
}
.ten_min{
	display:block;
	position:absolute;
	text-align:center;
	left:35.1%;
	width:30.5%;
	color:#fff;
	font-family: Arial;
	font-size:13.5pt;
	line-height:12pt;
	top:70.1%;
}
.section.eleventh{
	width:100%;
	text-align:center;
	position:relative;
	z-index:2;
	margin-top:-13.2vw;
}
.addition{
	width:100%;
}
.call_me_block{
	position:absolute;
	border:2px dotted #ffff00;
	width:49.2%;
	height:8.7%;
	top:82.1%;
	left:25.4%;
	border-radius:30px;
}
.cm_text{
	position:absolute;
	width:24.2%;
	height:6%;
	top:83.4%;
	left:27.1%;
	border-radius:30px;
	border:none;
	font-size:19px;
	letter-spacing:7px;
	line-height:28px;
	text-transform:uppercase;
	padding:0 10px;
	text-align:center;
	font-family: 'TTFirs Black';
}
.send_number_cm{
	position:absolute;
	top:83.9%;
	left:58%;
	background-size:100% 100%;
	border:none;
	font-family: 'TTFirs Bold';
	font-size:20px;
	line-height:28px;
	border: none;
	padding: 12px 15px;
	border-radius: 30px;
	background: linear-gradient(to top, #f6a927, #ffe050);
	box-shadow: 0px 12px 16px -12px #000000;
	text-transform:uppercase;
}
.digit.static{
	font-weight:bold;
}
.ninth h1{
	position:absolute;
	top:-34.5vw;
	width:100%;
	text-align:center;
	color:#fff;
	font-family:'TTFirs Black';
	font-size:60px;
	line-height:28px;
	z-index:3;
	text-transform:uppercase;
	
}
.steps{
	position:absolute;
	width:100%;
	z-index:3;
	top:-31.5vw;
}
.steps .step{
	width:25%;
	float:left;
	z-index:3;
	text-align:center;
}
.step img.sigway1{
	width:13vw;
}
.step img.tel{
	width:7.5vw;
}
.step img.wheel{
	width:10.6vw;
}
.step img.cash{
	width:7vw;
}
.step h2, .step p{
	padding-left:25%;
	text-align:left;
	color:#fff;
	font-family:'TTFirs Medium';
}
.step p{
	font-size:15px;
	line-height:20px;
}
.step h2{
	font-size:30px;
	line-height:20px;
	padding-bottom:8px;
}
.step div{
	height:13vw;
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	width:25%;
}
.eleventh h1{
	position:absolute;
	width:55.9%;
	left:22.05%;
	text-align:center;
	color:#fff;
	font-family:'TTFirs Black';
	font-size:50px;
	text-transform:uppercase;
	top:6.6%;
}
.additions{
	width:73.3%;
	position:absolute;
	top:20.8%;
	left:13.15%;
}
.additions .add_i{
	width:25%;
	float:left;
	height:20vw;
	color:#fff;
}
.sigway3{
	width:16.55vw;
}
.wheel2{
	width:13.4vw;
}
.remote{
	width:3.5vw;
}
.bag{
	width:15.4vw;
}
.papers{
	width:7.4vw;
}
.newspaper{
	width:6.9vw;
}
.calendar{
	width:7vw;
}
.setting{
	width:10.1vw;
}
.add_i div{
	height:9.3vw;
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	width:25%;
}
.add_i p{
	max-width:19.4vw;
	text-align:center;
	padding:5px;
	font-family:'TTFirs Medium';
	font-size:20px;
	line-height:20px;
}
.add_i:nth-child(3) div{
	width:20%;
}
.fast_order{
	position:fixed;
	right:0;
	width:2.8%;
	top:calc(50% - 8.4vw);
	top:-moz-calc(50% - 8.4vw);
	top:-webkit-calc(50% - 8.4vw);
	z-index:500;
	opacity:0;
	display:none;
}
.fast_order:hover{
	cursor:pointer;
}
.button_lb_close{
	display:none;
	position:fixed;
    top: 20px;
    right: 7%;
	width:6.43vw;
	z-index:901;
	cursor:pointer;
}
.close{
	width:100%;
	height:100%;
	background:#000;
	opacity:0.8;
	display:none;
	position:fixed;
	top:0;
	left:0;
	z-index:502;
}
.window{
	display:none;
	position:fixed;
	top: calc((90% - (40% + 155px)) / 2);
	top: -webkit-calc((90% - (40% + 155px)) / 2);
	left:22%;
	width:56%;
	height:auto !important;
	border-radius:5px;
	background:url(../images/comment_bg.png);
	background-size:100% 100%;
	z-index:503;
	padding:5px;
	text-align:center;
	font-family:'TTFirs Bold';
}
.window_video{
	display:none;
	position:fixed;
	top: calc((90% - (40% + 155px)) / 2);
	left: 0;
	right: 0;
    text-align: center;
	width:auto;
	height:auto !important;
	z-index:503;
}
.window.s{
	top:30%;
	left:35%;
	width:40%;
	height:20%;
}
.window.s input{
	padding:5px;
	margin-top:15px;
}
.window h2{
	font-size:25px;
	text-transform:uppercase;
	font-family:'TTFirs Black';
}
.window input{
	width:50%;
	margin-top:25px;
	font-family:'TTFirs Bold';
}
.window input.w_send{
	border-radius: 20px;
    background: linear-gradient(to top, #f6a927, #ffe050);
    box-shadow: 0px 12px 16px -12px #000000;
	background-size:100% 100%;
	border:none;
	height:30px;
	width:30%;
	font-size:14px;
	margin-bottom: 25px;
}
.window textarea{
	width:50%;
	height:40%;
	margin-top:25px;
	font-family:'TTFirs Bold';
}
#say:hover{
	cursor:pointer;
}
.photos_info{
	width:100%;
	height:100%;
}
.photos_info div{
	float:left;
	width:25%;
	height:calc(23.325vw - 4.25px);
	height:-moz-calc(23.325vw - 4.25px);
	height:-webkit-calc(23.325vw - 4.25px);
	overflow:hidden;
	text-align:center;
	position:relative;
	background: #000;
}
.photos_info div img.video_prev{
	opacity: 0.5;
}
.photos_info div img.video_logo{
	position:absolute;
	width:50%;
	left:25%;
	top:25%;
	height:auto;
}
.video_name{
	position:absolute;
	display:block;
	text-align:center;
	left:20%;
	width:60%;
	top: 60%;
	font-family:'TTFirs Medium';
	font-size:14px;
	line-height:24px;
	letter-spacing:1.4px;
	color:#fff;
}
.photos_info div img{
	width:auto;
	height:100%;
}
.photos_info div iframe{
	width:100%;
	height:100%;
}
input[type="radio"]:checked+label img{
	border:1px solid red;
}
.time_left{
	width: 30.5%;
	left: 35.1%;
	top:55.5%;
	position:absolute;
	height:5%;
}
.plus, .minus{
	position:absolute;
	cursor:pointer;
	font-size: 26px;
}
.minus{
	left: 0.7vw;
	top: 0.8vw;
}
.plus{
	left: 5.5vw;
	top: 0.8vw;
}
.order_stop{
	width:100%;
	margin-top:15vw;
	position:absolute;
}
.pages{
	position:absolute;
	left: 5%;
	top: 5%;
	color: #fff;
	opacity: 0.5;
	font-family: TTFirs Regular;
	font-size: 12px;
	line-height: 20px;
}
.hidden1{
	display:none;
	position:relative;
	top:-3px;
}
.hidden2{
	display:none;
	position:relative;
	top:-3px;
}
.equipment form{
	text-align:left;
}
footer{
	background:#0f1127;
	height:20.8vw;
	margin-top:-4.5vw;
}
footer p{
	text-align:left;
	color:#fff;
	font-family: 'TTFirs Medium';
	margin-left:15vw;
}
footer p:nth-child(1){
	padding-top:4.6vw;
}
/*!
 * jquery-drawer v3.1.0
 * Flexible drawer menu using jQuery, iScroll and CSS.
 * http://git.blivesta.com/drawer
 * License : MIT
 * Author : blivesta <design@blivesta.com> (http://blivesta.com/)
 */

/*!------------------------------------*\
    Base
\*!------------------------------------*/
.drawer-nav {
  position: absolute;
  z-index: 101;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 19%;
  height: 100%;
  color: #222;
  background-color: #B9BCC5;
  opacity: 0.7;
}

.drawer-brand {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 3.75rem;
  display: block;
  padding-right: .75rem;
  padding-left: .75rem;
  text-decoration: none;
  color: #fff;
}

.drawer-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 75%;
}

.drawer-menu-item {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 3.75rem;
  display: block;
  padding: .375rem .75rem .375rem .75rem;
  text-decoration: none;
  color: #fff;
}

.drawer-menu-item:hover {
  color: #555;
  background-color: transparent;
}

/*! overlay */
.drawer-overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .2);
}

.drawer-open .drawer-overlay {
  display: block;
}
/*!------------------------------------*\
    Top
\*!------------------------------------*/
.drawer--top .drawer-nav {
  top: -100%;
  left: 0;
  width: 100%;
  height: auto;
  max-height: 100%;
  -webkit-transition: top 1s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  transition: top 1s cubic-bezier(0.190, 1.000, 0.220, 1.000);
}
.drawer-menu-item li{
	font-family: 'TTFirs Bold';
	text-transform: uppercase;
}
.drawer--top.drawer-open .drawer-nav {
  top: 0;
}

.drawer--top .drawer-hamburger,
.drawer--top.drawer-open .drawer-hamburger {
  right: 0;
}
/*!------------------------------------*\
    Left
\*!------------------------------------*/
.drawer--left .drawer-nav {
  left: -19%;
  -webkit-transition: left 1s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  transition: left 1s cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.drawer--left.drawer-open .drawer-nav,
.drawer--left .drawer-hamburger,
.drawer--left.drawer-open .drawer-navbar .drawer-hamburger {
  left: 0;
}

.drawer--left.drawer-open .drawer-hamburger {
  left: 16.25rem;
}
/*!------------------------------------*\
    Right
\*!------------------------------------*/
.drawer--right .drawer-nav {
  right: -16.25rem;
  -webkit-transition: right 1s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  transition: right 1s cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.drawer--right.drawer-open .drawer-nav,
.drawer--right .drawer-hamburger,
.drawer--right.drawer-open .drawer-navbar .drawer-hamburger {
  right: 0;
}

.drawer--right.drawer-open .drawer-hamburger {
  right: 16.25rem;
}
/*!------------------------------------*\
    Hamburger
\*!------------------------------------*/
.drawer-hamburger {
  position:absolute;
  top:5%;
  left:8.5%!important;
  width:2.1%;
  min-width:20px;
  z-index: 104;
  cursor:pointer;
  display: block;
  box-sizing: content-box;
  padding: 0;
  padding-bottom: 30px;
  -webkit-transition: all 1s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  transition: all 1s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  border: 0;
  outline: 0;
  background-color: transparent;
}

.drawer-hamburger:hover {
  cursor: pointer;
  background-color: transparent;
}

.drawer-hamburger-icon {
  position: relative;
  display: block;
  margin-top: 10px;
}

.drawer-hamburger-icon,
.drawer-hamburger-icon:before,
.drawer-hamburger-icon:after {
  width: 100%;
  height: 3px;
  -webkit-transition: all 1s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  transition: all 1s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  background-color: #fff;
  border-radius:1px;
}

.drawer-hamburger-icon:before,
.drawer-hamburger-icon:after {
  position: absolute;
  top: -7px;
  left: 0;
  content: ' ';
  height:-webkit-calc(4px - 1px);
}

.drawer-hamburger-icon:after {
  top: 7px;
  height:-webkit-calc(2px + 1px);
}

.drawer-open .drawer-hamburger-icon {
  background-color: transparent;
}

.drawer-open .drawer-hamburger-icon:before,
.drawer-open .drawer-hamburger-icon:after {
  top: 0;
}

.drawer-open .drawer-hamburger-icon:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.drawer-open .drawer-hamburger-icon:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
/*!------------------------------------*\
    accessibility
\*!------------------------------------*/

/*!
 * Only display content to screen readers
 * See: http://a11yproject.com/posts/how-to-hide-content
 */
.sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

/*!
 * Use in conjunction with .sr-only to only display content when it's focused.
 * Useful for "Skip to main content" links; see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
 * Credit: HTML5 Boilerplate
 */
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  overflow: visible;
  clip: auto;
  width: auto;
  height: auto;
  margin: 0;
}
/*!------------------------------------*\
    Sidebar
\*!------------------------------------*/
.drawer--sidebar {
  background-color: #fff;
}

.drawer--sidebar .drawer-contents {
  background-color: #fff;
}

@media (min-width: 64em) {
  .drawer--sidebar .drawer-hamburger {
    display: none;
    visibility: hidden;
  }

  .drawer--sidebar .drawer-nav {
    display: block;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    position: fixed;
    width: 12.5rem;
    height: 100%;
  }

  /*! Left */
  .drawer--sidebar.drawer--left .drawer-nav {
    left: 0;
    border-right: 1px solid #ddd;
  }

  .drawer--sidebar.drawer--left .drawer-contents {
    margin-left: 12.5rem;
  }

  /*! Right */
  .drawer--sidebar.drawer--right .drawer-nav {
    right: 0;
    border-left: 1px solid #ddd;
  }

  .drawer--sidebar.drawer--right .drawer-contents {
    margin-right: 12.5rem;
  }

  /*! container */
  .drawer--sidebar .drawer-container {
    max-width: 48rem;
  }
}

@media (min-width: 75em) {
  .drawer--sidebar .drawer-nav {
    width: 16.25rem;
  }

  .drawer--sidebar.drawer--left .drawer-contents {
    margin-left: 16.25rem;
  }

  .drawer--sidebar.drawer--right .drawer-contents {
    margin-right: 16.25rem;
  }

  /*! container */
  .drawer--sidebar .drawer-container {
    max-width: 60rem;
  }
}
/*!------------------------------------*\
    Navbar
\*!------------------------------------*/
.drawer--navbarTopGutter {
  padding-top: 3.75rem;
}

.drawer-navbar .drawer-navbar-header {
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}

.drawer-navbar {
  z-index: 102;
  top: 0;
  width: 100%;
}

/*! .drawer-navbar modifier */
.drawer-navbar--fixed {
  position: fixed;
}

.drawer-navbar-header {
  position: relative;
  z-index: 102;
  box-sizing: border-box;
  width: 100%;
  height: 3.75rem;
  padding: 0 .75rem;
  text-align: center;
}

.drawer-navbar .drawer-brand {
  line-height: 3.75rem;
  display: inline-block;
  padding-top: 0;
  padding-bottom: 0;
  text-decoration: none;
}

.drawer-navbar .drawer-brand:hover {
  background-color: transparent;
}

.drawer-navbar .drawer-nav {
  padding-top: 3.75rem;
}

.drawer-navbar .drawer-menu {
  padding-bottom: 7.5rem;
}

@media (min-width: 64em) {
  .drawer-navbar {
    height: 3.75rem;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
  }

  .drawer-navbar .drawer-navbar-header {
    position: relative;
    display: block;
    float: left;
    width: auto;
    padding: 0;
    border: 0;
  }

  .drawer-navbar .drawer-menu--right {
    float: right;
  }

  .drawer-navbar .drawer-menu li {
    float: left;
  }

  .drawer-navbar .drawer-menu-item {
    line-height: 3.75rem;
    padding-top: 0;
    padding-bottom: 0;
  }

  .drawer-navbar .drawer-hamburger {
    display: none;
  }

  .drawer-navbar .drawer-nav {
    position: relative;
    left: 0;
    overflow: visible;
    width: auto;
    height: 3.75rem;
    padding-top: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }

  .drawer-navbar .drawer-menu {
    padding: 0;
  }

  /*! dropdown */
  .drawer-navbar .drawer-dropdown-menu {
    position: absolute;
    width: 16.25rem;
    border: 1px solid #ddd;
  }

  .drawer-navbar .drawer-dropdown-menu-item {
    padding-left: .75rem;
  }
}
/*!------------------------------------*\
    Dropdown
\*!------------------------------------*/
.drawer-dropdown-menu {
  display: none;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.drawer-dropdown-menu > li {
  width: 100%;
  list-style: none;
}

.drawer-dropdown-menu-item {
  line-height: 3.75rem;
  display: block;
  padding: 0;
  padding-right: .75rem;
  padding-left: 1.5rem;
  text-decoration: none;
  color: #222;
}

.drawer-dropdown-menu-item:hover {
  text-decoration: underline;
  color: #555;
  background-color: transparent;
}

/*! open */
.drawer-dropdown.open > .drawer-dropdown-menu {
  display: block;
}

/*! drawer-caret */
.drawer-dropdown .drawer-caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 4px;
  -webkit-transition: opacity .2s ease, -webkit-transform .2s ease;
  transition: opacity .2s ease, -webkit-transform .2s ease;
  transition: transform .2s ease, opacity .2s ease;
  transition: transform .2s ease, opacity .2s ease, -webkit-transform .2s ease;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

/*! open */
.drawer-dropdown.open .drawer-caret {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
/*!------------------------------------*\
    Container
\*!------------------------------------*/
.drawer-container {
  margin-right: auto;
  margin-left: auto;
}
.drawer-nav-ul{
	display: none;
	position: absolute;
	z-index: 101;
	top: 30%;
	width: 19%;
}
.block{
	display: block;
}
.none{
	display: none;
}
/*---------------------------------------*/
body.confirmpage{
	width: 100%;
	height: 100vh;
	background: url(../images/toppage_bg.png) 0 0 no-repeat;
	background-size: cover;
	text-align: center;
	overflow: hidden;
}
body.confirmpage .confirmtext, body.confirmpage .confirmtext a{
	margin: 20vh auto auto auto;
	width: 50%;
	height: 100%;
	font-family: 'TTFirs Medium';
	font-size: 50px;
	font-weight: bold;
	color: white;
}